Define a função e o mínimo global

In [3]:
from main import *

is_user_input = function_type()
function = define_function(is_user_input)
x_star = define_global_minimun(is_user_input, function)

expression: Expr = parse_expr(function.replace("^", "**"))

func = Function(is_user_input, expression, x_star)

Qual função deseja escolher?
1- Digitar uma função
2- Escolher uma função de exemplo

Qual dessas funções deseja escolher?
0- 3*x^2 - 12*x + 3*y^2 - 6*y + 25
1- 5*x^2 + 8*y^2 + 2*x*y - 42*x - 102*y
2- x^2*y + x*y^2 - 96*x*y
3- x^2 + 2*y^2 - 18*x - 24*y + 2*x*y + 120

Cria a tabela

In [4]:
import pandas as pd

print(f'Tabela 1 - Testes do Método do Gradiente para a função {function}')

table1 = []
table2 = []
table3 = []
table4 = []

for i in range(4):
   result_list = []
   k_list = []

   tolerance: float = 10**-(i+2)

   for j in range(100):
      x0 = np.random.uniform(low=0.0, high=10.0, size=2)

      mg = MG(func, x0, tolerance)
      mg.algorithm()

      result_list.append(mg.xk)
      k_list.append(mg.k)


   result_mean = calculate_result_mean(result_list)
   
   table1.append(tolerance)
   table2.append(np.mean(k_list))
   table3.append(result_mean)
   table4.append(norm(result_mean, x_star))

table = pd.DataFrame({
   "tol": table1,
   "k\u0304": table2,
   "x\u0304\u1D4F": table3,
   "\u2225x\u0304\u1D4F - x*\u2225": table4
})

table

Tabela 1 - Testes do Método do Gradiente para a função 3*x^2 - 12*x + 3*y^2 - 6*y + 25

       tol    k̄                                       x̄ᵏ    ∥x̄ᵏ - x*∥
0  0.01000  2.00   (2.0000000446149846, 1.000000060518737)  7.518653e-08
1  0.00100  2.24  (2.0000000458886205, 1.0000000643643232)  7.904765e-08
2  0.00010  2.97   (2.000000036933291, 1.0000000590604532)  6.965777e-08
3  0.00001  3.00  (2.0000000511585374, 1.0000000591935008)  7.823724e-08